.form {
    width: 320px;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input {
    margin-left: 5px;
    height: 25px;
    border-radius: 5px;
}

.btn {
    border-radius: 2px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s ease-in, color 0.25s ease-in;
    font-size: 18px;
}