.form {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 50px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.number {
    margin-left: 5px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.name {
    composes: number;
    margin-bottom: 15px;
}

.btn {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s ease-in,
    color 0.25s ease-in;
    font-size: 18px;
}

.btn:hover {
    background-color: #b4e9f6;
}